<!doctype html>
<html ng-app="DemoApp">
    <head>
        <meta charet="utf-8">
        <title>AngularJS Workshop</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="./style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="MainCtrl as MainCtrl">
            <div class="jumbotron text-center">
                <h1>AngularJS Workshop</h1>
            </div>
            <div class="jumbotron intro">
                <h3>{{ MainCtrl.books.length }} free Javascript ebooks for you</h3>
                <div ng-controller="FilterCtrl as FilterCtrl">
                    <div class="filter" >Tags :
                        <span
                            class="label label-info"
                            ng-class="{ 'label--selected': FilterCtrl.isSelected('tags', tag) }"
                            ng-click="FilterCtrl.toggle('tags', tag)"
                            ng-repeat="tag in MainCtrl.tags"
                        >{{ tag }}
                        </span>
                    </div>
                    <div class="filter">Levels :
                        <span
                            class="label label-info {{ 'book__level--' + level }} "
                            ng-class="{'label--selected': FilterCtrl.isSelected('levels', level) }"
                            ng-click="FilterCtrl.toggle('levels', level)"
                            ng-repeat="level in MainCtrl.levels"
                        >{{ level }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row books">
                <div class="book col-xs-12 col-md-6 col-lg-4" ng-repeat="book in MainCtrl.books|filterBooks">
                    <a ng-href="{{ book.url }}"><img class="book__img" ng-src="{{ book.cover }}" width="120"/></a>
                    <div class="book__title"><a ng-href="{{ book.url }}">{{ book.title }}</a></div>
                    <div class="book__author"><a ng-href="{{ book.authorUrl }}">{{ book.author }}</a></div>
                    <span class="label label-info" ng-repeat="tag in book.tags">{{ tag }}</span>
                    <span class="book__level label" ng-class="'book__level--' + book.level">{{ book.level }}</span>
                    <div class="book__info">{{ book.info }}</div>
                </div>
            </div>
        </div>
    </body>
</html>


