.books {
    margin-top: 5px;
}
.book {
    height:200px;
}
.book a {
    color:black;
    text-decoration: underline;
}
.book__img {
    float:left;
    margin-right: 10px;
    border:1px solid silver;
}
.book__title {
    font-weight:bold;
}
.book__author {
    
}
.book__tags {
    
}
.book__level {

}
.book__level--beginner {
    background-color: #5CB85C;
}
.book__level--intermediate {
    background-color: #F0AD4E;
}
.book__level--advanced {
    background-color: #D9534F;
}
.book__info {
    margin-top: 3px;
    font-size: 1rem;
    font-style: italic;
    overflow:hidden;
    text-overflow: ellipsis;
}
/* bootstrap  overrides */
.jumbotron {
    margin-bottom: 10px;
}
.jumbotron.intro {
    padding:20px;
    margin-bottom:20px;
}
.jumbotron.intro h3 {
    margin: 0;
}
